<% provide(:title, "#{@story.short_title} | #{@chapter.title} | #{@part.title}") %>
<div class="d-flex flex-row justify-content-center">
  <%= render 'sidebar', story: @story %>
  <div class="col-lg p-1" id="view_panel">
    <button id="sidebarCollapse" type="button" class="btn rounded-pill shadow-sm px-1 mb-2 sidebar-btn">
      <i id="sidebar_button_icon" class="bi bi-file-excel"></i><small class="p-1 text-uppercase font-weight-bold">
      Table of Contents</small>
    </button>
    <div class="album py-2">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
          <div id="story_col" class="container">            
            <div id="story_header" class="pb-1" style="width: 100%; float: none; margin-left: auto; margin-right: auto;">
              <% if @story.header_picture.present? %>
                <%= image_tag @story.header_picture_url, 
                        style: "width: 100%; height: 100%;" %>
              <% end %>
              <h4 class="part_story"><%= @story.long_title %></h4>
              <small><%= "#{@story.author} All rights reserved." %></small>
              <div class="row">
                <div class="col">
                  <h6><%= "#{@chapter.title} | #{@part.title}" %></h6>
                  <h6><%= @part.subtitle %></h6>
                </div>
                <% if admin_user? %>
                  <div class="col d-flex align-self-end align-items-end flex-column">
                    <div>
                      <%= render 'admin_status', resource: @part %>
                    </div>
                    <%= render 'admin_buttons', edit_url: edit_part_path(@part), delete_url: part_path(@part) %>
                  </div>
                <% end %>
              </div>
            </div>
          <!-- d-flex justify-content-between pt-1//-->
            <div id="story" class="container">
              <%= render 'next_prev', part: @part %>
              <% unless @part.content.blank? %>
                <%= @part.content.html_safe %>
              <% end %>  
              <%= render 'next_prev', part: @part %>
            </div>
          </div>          
          <div id="chat_col" class="container">
            <div id="chat_header" class="p-2">            
              <div class="row">
                <div class="col">
                  <strong>
                    <%= "#{@story.short_title} Chat" %><br/>
                    <%= @story.author %><br/>
                    <%= "#{@chapter.title} | #{@part.title}" %><br/>
                    <%= @part.chat_title %>
                  </strong>
                </div>
                <% if admin_user? %>
                  <div class="col d-flex align-self-end align-items-end flex-column">                  
                    <div class="btn-group">
                      <%= link_to new_part_post_path(@part), class: "btn btn-sm btn-outline-light" do %>
                        <i class="bi bi-pencil pe-1"></i>Add a Post
                      <% end %>
                    </div>                                      
                  </div>
                <% end %>
              </div>            
              <hr>
            </div>
            <div id="chat" class="container scroll">
              <% if @part.posts.present? %>
                <% @part.posts.each do |post| %>
                  <% if (post.published? && post.publish_at <= Date.today) || admin_user? %>
                    <div class="card mt-2">
                      <div class="card-body px-2 py-0">
                        <p class="card-text">
                          <div class="post_character pe-1">
                            <%= post.character.chat_name %> : 
                          </div>                          
                          <% unless post.message.blank? %>
                            <%= post.message.html_safe %>
                          <% end %>
                        </p>
                      </div>
                      <% if admin_user? %>
                        <div class="card-footer">
                          <%= render 'admin_buttons', edit_url: edit_post_path(post), delete_url: post_path(post) %>
                          <%= render 'admin_status', resource: post %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>