<div id="sidebar" class="col-xs sidebar flex-shrink-0 p-3 scroll">
    <span class="fs-5 fw-semibold"> 
      <%= story.short_title %>
    </span>
    <% if admin_user? %>
      <%= link_to edit_story_path(story), class: "btn"  do %>
        <i class="bi bi-pencil"></i>
      <% end %>
    <% end %>

  <ul class="list-unstyled ps-0">
    <% if admin_user? %>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Actions
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <%= link_to new_story_chapter_path(story), 
              class: "#{request.path == new_story_chapter_path(story)  ? "link-dark rounded link-active" : "link-dark rounded"}"  do %>
                <i class="bi bi-folder-plus pe-1"></i> Add a Chapter
              <% end %>
            </li>
            <li>
              <%= link_to story_characters_path(story), class: "link-dark rounded"  do %>
                <i class="bi bi-people pe-1"></i> Characters
              <% end %>
            </li>
          </ul>
        </div>
      </li>
    <% end %>

    <% if story.chapters.present? %>
      <% story.chapters.each do |chapter| %>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            <%= chapter.title %>
          </button>
          <% if admin_user? %>
            <%= link_to edit_story_chapter_path(story, chapter), class: "btn"  do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          <% end %>          
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

              <% if admin_user? %>
                <%#= link_to %>
              <% end %>
              <li><a href="#" class="link-dark rounded">Part 1</a></li>
              <li><a href="#" class="link-dark rounded">Part 2</a></li>
            </ul>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
