<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <h4>Characters for <%= @story.short_title %></h4>


      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Order </th>
            <th scope="col">Name </th>
            <th scope="col">Post Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @story.characters.each do |character| %>
            <tr>
              <td><%= character.sort_order %></td>
              <td><%= character.full_name %></td>
              <td><%= character.chat_name %></td>
              <td>
                <%= link_to edit_character_path(character) do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
                <%= link_to character_path(character), method: :delete, 
                              data: { confirm: 'Are you sure? This will delete ALL chats this character posted.' } do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>


      <div class="btn-group p-2">
        <%= link_to t('show_story'), back_to_story_path(@story.id), class: "btn btn-sm btn-outline-dark" %> 
        <%= link_to 'New Character', new_story_character_path(@story), 
                                class: "btn btn-sm btn-outline-dark" %>
      </div>
    </div>
  </div>
</div>

