
<%= form_with( model: chapter, url: post_url ) do |form| %>
  <%= render 'shared/error_messages', resource: chapter %>
  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <%= form.label :sort_order %>
    </div>
    <div class="col field form-group">
      <%= form.number_field :sort_order, class: "form-control" %>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-2 d-flex align-items-center">
      <%= form.label :title %>
    </div>
    <div class="col field form-group">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-2 d-flex align-items-center">
      <%= form.label :subtitle %>
    </div>
    <div class="col field form-group">
      <%= form.text_field :subtitle, class: "form-control" %>
    </div>
  </div>  
  <div class="actions pt-2">
    <%= form.submit class: "btn btn-sm btn-outline-dark" %>
  </div>
<% end %>
