
<%= form_with( model: post, url: post_url ) do |form| %>
  <%= render 'shared/error_messages', resource: post %>

   <div class="row justify-content-end">
   <div class="col-10">
      <div class="form-check form-switch">
        <%= form.check_box :published, 
                  class: "form-check-input", 
                  id: "flexSwitchCheckPublished" %>
        <%= form.label :published,  class: "form-check-label", 
                      for: "flexSwitchCheckPublished" %>        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <%= form.label :sort_order %>
    </div>
    <div class="col field form-group">
      <%= form.number_field :sort_order, class: "form-control" %>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-2 d-flex align-items-center">
      <%= form.label :publish_at %>
    </div>
    <div class="col field form-group">
      <%= form.date_field :publish_at, class: "form-control" %>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-2 d-flex align-items-center">
      <%= form.label :character %>
    </div>
    <div class="col field form-group">
      <%= form.collection_select :character_id, Character.from_story(story_id), :id, :full_name,  
              { prompt: "Make your selection from the list."}, 
              { multiple: false, size: 1, class: "form-control shadow rounded custom-select" } %>
    </div>
  </div>  
  <div class="row pt-2">
    <div class="col field form-group">
      <%= form.text_area :message, class: "tinymce" %>
      <%= tinymce %>
    </div>
  </div>  
  <div class="actions pt-2">
    <%= form.submit class: "btn btn-sm btn-outline-dark" %>
  </div>
<% end %>
