<!-- 025328 //-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
  <div class="container-fluid">
    <%= link_to "Mic Stories", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-end">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "#{request.path == about_path  ? "nav-link active" : "nav-link"}" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% item_in_list = false %>
            <% @stories.each do |story| %>
              <% if story.published %>
                <li>
                  <%= link_to story.short_title, story, class: "dropdown-item" %>
                </li>
                <% item_in_list = true %>
              <% elsif admin_user? %>
                <li>
                  <%= link_to story, class: "dropdown-item unpublished-nav-item" do %>
                    <i class="bi bi-journal-minus"></i> <%= story.short_title %>
                  <% end %>
                </li>
                <% item_in_list = true %>
              <% end %>
            <% end %>
            <% if !item_in_list %>
              <li> No Stories </li>
            <% end %>
            <% if admin_user? %>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to new_story_path, class: "dropdown-item" do %>
                  <i class="bi bi-journal-plus"></i> New Story
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto p-1">
        <li class="nav-item">
          <a class="nav-link active" href="mailto:mic@micstories.com">mic@micstories.com</a>            
        </li>
        <% if logged_in? %>
          <li class="nav-item ps-2">
            <%= link_to "Logout", logout_path, class: "btn btn-sm btn-outline-light", method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>